form(novalidate="" ng-submit="form.$valid && register()" name="form")
    p
        label(for="name") UserName
        input(type="text" ng-model="newUser.userName" name="userName" required="")
    
    p
        label(for="password") Password
        input(type="password" ng-model="newUser.password" name="password" required="")
    
    p
        label(for="confirm") Confirm Password
        input(type="password" ng-model="newUser.confirm" name="confirm" required="")
    
    p(ng-hide="!passwordMissMatch") Passwords don't match
    
    p: input(type="submit" value="Register")