form(novalidate="" ng-submit="register()")
    label(for="name") UserName
    input(type="text" ng-model="userName" name="userName")
    
    label(for="password")
    input(type="password" ng-model="password" name="password")
    
    label(for="confirm")
    input(type="password" ng-model="confirm" name="confirm")