form(novalidate="" ng-submit="form.$valid && login()" name="form")
    label(for="name") User Name
    input(type="text" ng-model="userStub.userName" name="userName" required="")
    
    label(for="password") Password
    input(type="password" ng-model="userStub.password" name="password" required="")
    
    input(type="submit" value="Login")